{% extends 'base.html' %}

{% block content %}
    <h3>{{ habit.name }}</h3>
    <p>Daily goal: {{ habit.goal }}</p>
    <p>Best record: {{ max_record }}</p>
    <p>Average record: {{ avg_record }}</p>
    {% if records %}
        <a href="{% url 'add-record' habit.pk %}">ADD NEW RECORD</a>
        <br>
        <p>Your records for this habit:</p>
        <ul>
            {% for record in records %}
                {% if record.actual >= habit.goal %}    
                <li><font color="green">{{ record.date }} | {{ record.actual }}</font></li>
                <a href="">Edit</a>
                {% elif record.actual < habit.goal %}
                <li>{{ record.date }} | {{ record.actual }}</li>
                <a href="">Edit</a>
                {% else %}
                <li><font color="red">{{ record.date }} | {{ record.actual }}</font></li>
                <a href="">Edit</a>
                {% endif %}
            {% endfor %}

        </ul>
    {% else %}
        <p>You haven't entered any records for this goal yet. <a href="{% url 'add-record' habit.pk %}">Make one now.</a></p>
    {% endif %}
    <br>
    <h3>Observers:</h3>
    {% if habit.observer_set %}
    <ul>
        {% for observer in habit.observer_set.all %}
        <li>
            {{ observer.user.get_username }}
            <a href="">Remove observer</a>
        </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>You haven't added any observers for this habit yet! Add users to your observer list to allow them to see your progress with your habit.</p>
    {% endif %}
    <a href="{% url 'add-observer' habit.pk %}">Add Observer</a>
    <br>
    <a href="{% url 'delete' habit.pk %}">Delete this habit</a>
{% endblock %}
