{% extends 'base.html' %}

{% block content %}
    <h3>Home</h3>
    <p>Welcome, {{ request.user }}!</p>
    <div class="container">
        <div class="row">
          <div class="col">
            {% if habits %}
        <h3>Your habits:</h3>
        <div class="list-group">
        {% for habit in habits %}
            <a href="{{ habit.get_absolute_url }}" class="list-group-item list-group-item-action">{{ habit.name }}</a>
        {% endfor %}
        </div>
        {% else %}
            <p><strong>You haven't started tracking any habits yet!</strong> Start one now.</p>
        {% endif %}

        <a href="{% url 'new-habit' %}" class="btn btn-success" role="button">Start a new habit</a>
          </div>
        
          <div class="col">
            {% if observing %}
            <h3>Habits you're observing:</h3>
            <div class="list-group">
            {% for o in observing %}
                    <a href="{{ o.habit.get_absolute_url }}"class="list-group-item list-group-item-action">{{ o.habit.name }} <span class="badge badge-primary badge-pill">{{ o.habit.user }}</span></a>
            {% endfor %}
            </div>
        {% endif %}
          </div>
    </div>
</div>
    
    
{% endblock %}
